<div>
  <%= flash[:notice] %>
</div>
<div class="container px-5 px-sm-0">
  <div id="error_explanation">
    <% if @book.errors.any? %>
      <%= @book.errors.count %>error
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="row">
    <%= render 'users/info', user: @user, book: @bookk %>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= image_tag @book.user.get_profile_image(100,100) %>
              <br>
              <%= link_to @book.user.name, user_path(@user.id) %>
            </td>
            <td>
              <%= link_to @book.title, book_path(@book.id) %>
            </td>
            <td><%= @book.body %></td>
            <td id="favorite_bottons_<%= @book.id %>">
              <%= render "favorites/favorites", book: @book %>
            </td>
            <td><%= link_to "#{@book.book_comments.count} コメント", book_path(@book.id) %></td>
            <td>
              <% if @book.user == current_user %>
                <%= link_to "Edit", edit_book_path(@book.id), class: 'btn btn-sm btn-success' %>
              <% end %>
            </td>
            <td>
              <% if @book.user == current_user %>
                <%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか？", class: 'btn btn-sm btn-danger' %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>

      <div id="comments-error">
        <%= render 'layouts/error_messages', error_comment: @error_comment %>
      </div>

      <div id="comment_area">
        <%= render 'book_comments/book_comments', book: @book %>
      </div>


      <div class="new-comment">
        <%= render 'book_comments/form', book: @book, book_comment: @book_comment %>
      </div>
    </div>
  </div>
</div>
